[Desktop Entry]
Version=1.0
Type=Link
Name=1.2 2.png
Comment=
Icon=user-bookmarks
URL=https://mail.yandex.ru/message_part/1.2%202.png?_uid=1130000069964292&name=1.2+2.png&hid=1.2&ids=193091834023511146&no_disposition=y&exif_rotate=y
